@charset "UTF-8";
 /* Thiết lập kiểu cho các phần tử HTML */
 body {
	background: #f5f5f5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }
form {
    margin: 0 20%;
}

 label {
    display: block;
    margin-bottom: 5px;
    font-family: system-ui;
    font-weight: 500;
    color: #212529;
}

input[type="text"],
input[type="number"],
select,
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="file"] {
    color: azure;
    margin-bottom: 10px;
    padding: 8px;
    background: #ccc;
    width: 96%;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.addPd_container {
	margin: auto;
    color: #1e1d1d;
    display: flex;
    justify-content: space-around;
}

#bg_add {
	width: 600px;
    height: 600px;
    border: 1px dashed #000;
    margin-top: 20px;
    text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #b9b5b5;
}

#bg_add img{
	width: 500px;
	height: 500px;
}

.form_add {
	width: 650px;
	border-left: 1px solid #000;
}
 .title_addPr {
    text-align: center  ;
    font-size: 32px;
    font-family: cursive;
    color: #b16647;
 }
.addPr_btn{
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
}


button[type="button"] {
    background-color: #b33d22;
    color: white;
    padding: 10px 44px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}